body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}
.btn-grey {
  background-color: #96999c !important;
  color: white !important;
}
.btn-grey:hover {
  background-color: #838588 !important;
}

.signup {
  display: none;
}

/***LOGIN SIGNUP FORM***/

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 120%;
  margin: 0 auto 100px;
  box-shadow: -1px 0px 12px 0px #2222221c;
  border-radius: 10px;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
  border-radius: 10px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: hsla(268, 54%, 21%, 1); */
  /* background: linear-gradient(45deg, #28143e 0%, #591a74 64%, #6f0f8a 98%); */
  background: #0a0a4a;
  background: linear-gradient(
    17deg,
    rgba(10, 10, 74, 1) 0%,
    rgba(17, 17, 82, 1) 27%,
    #0a2888 64%,
    rgba(19, 66, 188, 1) 83%,
    rgba(31, 100, 203, 1) 100%,
    rgba(13, 110, 253, 1) 100%
  );
  /* background: rgb(24, 59, 117);
  background: linear-gradient(
    192deg,
    rgba(24, 59, 117, 1) 0%,
    rgba(24, 63, 127, 1) 39%,
    rgba(19, 98, 161, 1) 60%,
    rgba(21, 140, 201, 1) 79%,
    rgba(21, 143, 204, 1) 100%
  ); */
  box-shadow: -1px 0px 12px 0px #22222280;
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 80%;
  height: 30%;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.form-outline {
  width: 90%;
}

/***  TOOLTIP ****/

#tooltip {
  display: inline-block;
  background: #ffffff;
  /* color: #643045; */
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
  z-index: -999999;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

.btn-primary,
.form-check-input:checked,
.form-switch .form-check-input:checked[type="checkbox"]:after {
  background-color: #0a2888 !important;
}
.progress-bar {
  /* background-color: #622c7f91 !important; */
  background-color: #0d6dfd5b !important;
}

.btn-danger {
  background-color: #d00000 !important;
}

.form-control:focus,
.nav-link.active,
.form-check-input:checked {
  border-color: #0a2888 !important;
}
.form-outline {
  width: 100%;
}
.form-switch .form-check-input:checked:focus:before {
  box-shadow: 3px -1px 0px 13px rgba(0, 0, 0, 0.6) !important;
}

.fa-edit,
.fas-trash-alt {
  cursor: pointer;
}

/* .input {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  font: inherit;
  border-radius: 0.2rem;
  border: 2px solid #d4d5d6;
  color: #565656;
  -webkit-appearance: none;
} */

.input:focus {
  border-color: cornflowerblue;
  outline: none;
}

.input.has-error {
  border-color: #d00000;
}

.error {
  margin: 0;
  font-size: 90%;
  color: #d00000;
}

.wrapper {
  background-color: white;
  width: 400px;
  padding: 2rem;
  box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.input.has-error {
  border-color: #d00000;
}

.error {
  margin: 0;
  font-size: 90%;
  color: #d00000;
}

.tag-item {
  background-color: #d4d5d6;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
}

.tag-item > .button {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  width: 20% !important;
  float: right !important;
  border-radius: 5px !important;
}
.filter option {
  font-size: 16px !important;
  padding-top: 5px !important;
}
.carousel {
  border-radius: 5px !important;
  width: 80%;
}

/*  404 PAGE*/
.error_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 88vh;
  background: linear-gradient(
    17deg,
    rgba(10, 10, 74, 1) 0%,
    rgba(17, 17, 82, 1) 27%,
    #0a2888 64%,
    rgba(19, 66, 188, 1) 83%,
    rgba(31, 100, 203, 1) 100%,
    rgba(13, 110, 253, 1) 100%
  );
  box-shadow: -1px 0px 13px 4px rgb(0 0 0 / 28%);
  border-radius: 5px;
}
.error_section_subtitle {
  color: #25f193;
  text-transform: uppercase;
  letter-spacing: 5pt;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: -5em;
}
.error_section .error_title {
  --x-shadow: 0;
  --y-shadow: 0;
  --x: 50%;
  --y: 50%;
  font-size: 15rem;
  transition: all 0.2s ease;
  position: relative;
  padding: 2rem;
  color: #32c983 !important;
}
.error_section .error_title:hover {
  transition: all 0.2s ease;
  text-shadow: var(--x-shadow) var(--y-shadow) 10px #58ff0aad;
}
.error_section .error_title p {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-position: var(--x) var(--y);
  background-repeat: no-repeat;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease;
  -webkit-text-stroke: 2px #5eec7e;
  cursor: pointer;
}

.pagenotfound {
  padding: 0.8em 1.5em;
  border-radius: 99999px;
  background-image: linear-gradient(to top, #32c983, #25f193) !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2),
    inset 0px -2px 5px 0px rgba(0, 0, 0, 0.2) !important;
  border: none;
  cursor: pointer;
  text-shadow: 0px 1px #343434;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  transition: ease-out 0.2s all;
}
.pagenotfound:hover {
  text-shadow: 0px 1px 1px #343434;
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1),
    inset 0px -3px 7px 0px rgba(0, 0, 0, 0.2);
  transition: ease-out 0.2s all;
}

/* .modal-header-diy {
  background: linear-gradient(
    17deg,
    rgba(10, 10, 74, 1) 0%,
    rgba(17, 17, 82, 1) 27%,
    #0a2888 64%,
    rgba(19, 66, 188, 1) 83%,
    rgba(31, 100, 203, 1) 100%,
    rgba(13, 110, 253, 1) 100%
  );
  color: white;
} */
.modal-body-diy {
  /* box-shadow: -1px -2px 20px 11px rgb(159 159 160 / 25%);
  width: 94%;
  border-radius: 5px;
  align-self: center; */
}
.fa-trash-alt,
.fa-edit {
  cursor: pointer;
}
